@inherits LayoutComponentBase

<div id="sidebar-wrapper" data-simplebar-auto-hide="true">
    <NavMenu />
    <Header />
</div>

<!-- Start wrapper-->
<div id="wrapper">

    <div class="content-wrapper">
        <div class="container-fluid">
            @Body
        </div>
    </div>
    <div class="clearfix"></div>

    <Footer />
</div>
<!--End wrapper-->



