<!--Start sidebar-wrapper-->
<div class="brand-logo">
    <NavLink href="" Match="NavLinkMatch.All">
        <img src="assets/images/logo-icon.png" class="logo-icon" alt="logo icon">
        <h5 class="logo-text">Marco Legal - MASI</h5>
    </NavLink>
</div>
<ul class="sidebar-menu do-nicescrol">
    <li class="sidebar-header">NAVEGACIÓN PRINCIPAL</li>
    <li>
        <NavLink href="" Match="NavLinkMatch.All">
            <i class="zmdi zmdi-view-dashboard"></i> <span>Home</span>
        </NavLink>
    </li>

    <li>
        <NavLink href="Recientes">
            <i class="zmdi zmdi-calendar-check"></i> <span>Recientes</span>
        </NavLink>
    </li>

    <li>
        <NavLink href="Leyes">
            <i class="zmdi zmdi-badge-check"></i> <span>Marcos Legales</span>
        </NavLink>
    </li>

    <li>
        <NavLink href="Organizaciones">
            <i class="zmdi zmdi-group-work"></i> <span>Organizaciones</span>
        </NavLink>
    </li>

    <li>
        <NavLink href="Validacion">
            <i class="zmdi zmdi-check-all"></i> <span>Nueva Verificación</span>
            <small class="badge float-right badge-light">Nuevo</small>
        </NavLink>
    </li>

    <li>
        <NavLink href="Resultados">
            <i class="zmdi zmdi-chart"></i> <span>Resultados</span>
        </NavLink>
    </li>

    <AuthorizeView Roles="Admin">
        <li class="sidebar-header">CATÁLOGOS</li>
        <li>
            <NavLink href="Titulos">
                <i class="zmdi zmdi-assignment-o text-success"></i> <span>Títulos</span>
            </NavLink>
        </li>

        <li>
            <NavLink href="Capitulos">
                <i class="zmdi zmdi-album text-info"></i> <span>Capítulos</span>
            </NavLink>
        </li>

        <li>
            <NavLink href="Articulos">
                <i class="zmdi zmdi-assignment text-success"></i> <span>Artículos</span>
            </NavLink>
        </li>

        <li>
            <NavLink href="Incisos">
                <i class="zmdi zmdi-book text-info"></i> <span>Incisos</span>
            </NavLink>
        </li>

        <li>
            <NavLink href="SubIncisos">
                <i class="zmdi zmdi-bookmark text-success"></i> <span>Sub Incisos</span>
            </NavLink>
        </li>
    </AuthorizeView>
</ul>
<!--End sidebar-wrapper-->
