@page "/Organizaciones"
@inject HttpClient httpClient
@attribute [Authorize(Roles = "Administrador,Supervisor")]

@if (OrganizacionesAPI == null)
{
    <p><em>Cargando...</em></p>
}
else
{
    <div class="card">
        <div class="card-body">
            <h5 class="card-title">Organizaciones</h5>
            <AuthorizeView Roles="Administrador">
                <div class="form-group">
                    <button type="button" class="btn btn-light px-5" @onclick="ShowingForm"><i class="zmdi zmdi-file-add"></i> Agregar</button>
                </div>
            </AuthorizeView>
            <div class="table-responsive">
                <table class="table table-hover">
                    <thead>
                        <tr>
                            <th scope="col">#</th>
                            <th scope="col">Nombre</th>
                        </tr>
                    </thead>
                    <tbody>
                        @foreach (var item in OrganizacionesAPI)
                        {
                            <tr>
                                <td scope="row">@item.OrganizacionID</td>
                                <td>@item.Nombre</td>
                            </tr>
                        }
                    </tbody>
                </table>
            </div>
        </div>
    </div>
    <h5 class="@textClass">@MessageCreate</h5>

    @if (this.ShowForm)
    {
        <OrganizacionesForm ButtonText="Crear Organización" Organizacion="this.Organizacion" OnValidSubmit="CreateOrganziacion" Title="Crear Organización" />
    }
}

@code {
    private OrganizacionViewModel Organizacion = new OrganizacionViewModel();
    private List<OrganizacionViewModel> OrganizacionesAPI { get; set; }
    private bool ShowForm;
    private string MessageCreate;
    private string textClass;



    protected override async Task OnInitializedAsync()
    {
        await GetOrganizacionesAsync();
    }

    private async Task GetOrganizacionesAsync()
    {
        OrganizacionesAPI = await httpClient.GetFromJsonAsync<List<OrganizacionViewModel>>("api/Organizaciones");
    }

    private void ShowingForm()
    {
        this.ShowForm = true;
    }

    private async Task CreateOrganziacion()
    {
        var result = await httpClient.PostAsJsonAsync("api/MarcoLegal/CreateOrganizacion", this.Organizacion);

        if (result.StatusCode == System.Net.HttpStatusCode.OK)
        {
            //var content = result.Content.ReadFromJsonAsync<UserToken>();
            this.textClass = "text-center text-success";
            this.MessageCreate = "Registro creado con éxito";
            this.ShowForm = false;

            await OnInitializedAsync();

            this.Organizacion.Nombre = string.Empty;            
        }
        else
        {
            this.textClass = "text-center text-warning";
            this.MessageCreate = "Error al crear registro";
        }
    }
}
